{{ember-notify}}
<div class="container">
  <div class="row">
    <h1 class="text-center">Super Simple Stocks</h1>
  </div>

  <hr>
  <div class="row text-center">
    {{#bs-form formLayout='inline' model=this onSubmit=(action "trade") as |form|}}
      {{form.element controlType="text" label="Symbol" placeholder="Symbol" property="symbol" required=true}}
      {{form.element controlType="text" label="Price" placeholder="Price" property="price" required=true}}
      {{form.element controlType="text" label="Quantity" placeholder="Quantity" property="password" required=true}}
      {{#bs-button-group value=buttonGroupValue2 onChange=(action (mut buttonGroupValue2))  required=true type="radio" as |bg|}}
        {{#bg.button type="default" value=1}}Buy{{/bg.button}}
        {{#bg.button type="default" value=2}}Sell{{/bg.button}}
      {{/bs-button-group}}
      {{bs-button defaultText="Submit" type="primary" buttonType="submit"}}
  {{/bs-form}}
  </div>

  <hr>
  <div class="row text-center">
    {{bs-button defaultText="Refresh" type="primary" onClick=(action "refresh")}}
  </div>

  <hr>

  {{#each model as |stock|}}
    <div class="row">
      <h3>{{stock.symbol}}</h3>
    </div>
    <div class="row">
      <table class="table">
        <thead>
          <th>Ticker Price</th>
          <th>Divided</th>
          <th>Par</th>
          <th>Dividend Yield</th>
        </thead>
        <tbody>
          <tr>
            <td>{{stock.ticker_price}}</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr>
{{/each}}
</div>
